body {
   
}

#container {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}

#container-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#container-top-left-menu {
    display: none;
}

#container-top-right {
    grid-column: 2/2;
}

.material-symbols-outlined {
    margin-left: 5vw;
}

#container-mid {
    grid-row: 2/10;
    grid-column: 1/10;
}

.container-mid-1 {
    width: 90%;
    flex-direction: column;
}

.containers.mid {
    width: 90%;
    flex-direction: column;
}

p {
    display: none;
}

#netflix-logo {
    width: 20vw;
}
